# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/imgui-tricks/v16/.suo
.vs/imgui-tricks/v16/Browse.VC.db
.vs/imgui-tricks/v16/Browse.VC.db-shm
.vs/imgui-tricks/v16/Browse.VC.db-wal
.vs/imgui-tricks/v16/Browse.VC.opendb
.vs/imgui-tricks/v16/ipch/AutoPCH/b5709fa89e9c6762/IMGUI.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
